.canis-instance-status {
	margin-right: 5px;
}

.canis-objects {
	margin-left: 5px;
}

.browser .list-group-menu {
	max-height: 500px;
	overflow-y: auto;
}

.browser .list-group-menu-2 {
	max-height: 250px;
}

.browser .list-group-menu-3 {
	max-height: 150px;
}