/* app.css */
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,200italic,300italic,400italic,600italic);

body {
  font: 400 11.5pt 'Source Sans Pro', Helvetica,Arial,sans-serif;
}

html,body,.container,.overall-container
{
  position: relative;
  height: auto;
}

.inner-container {
    margin-top: 65px;
    padding-bottom: 20px;
}


.footer {
	text-align: center;
}