<?php
defined('YII_DEBUG') 					|| define('YII_DEBUG', true);
defined('YII_TRACE_LEVEL')				|| define('YII_TRACE_LEVEL', 3);
defined('YII_ENV')						|| define('YII_ENV', 'dev');

defined('CANIS_APP_ID')					|| define('CANIS_APP_ID', '{{ app.id }}');
defined('CANIS_APP_NAME')				|| define('CANIS_APP_NAME', '{{ app.name }}');
defined('CANIS_APP_NAMESPACE')			|| define('CANIS_APP_NAMESPACE', 'canis\sensorHub');

defined('CANIS_APP_INSTANCE_VERSION')	|| define('CANIS_APP_INSTANCE_VERSION', '{{ version }}');
defined('CANIS_APP_INSTALL_PATH')		|| define('CANIS_APP_INSTALL_PATH', dirname(__DIR__));
defined('CANIS_APP_CONFIG_PATH')		|| define('CANIS_APP_CONFIG_PATH', __DIR__);
defined('CANIS_APP_VENDOR_PATH')		|| define('CANIS_APP_VENDOR_PATH', CANIS_APP_INSTALL_PATH . DIRECTORY_SEPARATOR . 'vendor');
defined('CANIS_APP_PATH') 				|| define('CANIS_APP_PATH', CANIS_APP_INSTALL_PATH . DIRECTORY_SEPARATOR . 'src');
defined('CANIS_APP_WEB_HOST')			|| define('CANIS_APP_WEB_HOST', '{{ app.host }}');

defined('CANIS_APP_DATABASE_HOST')		|| define('CANIS_APP_DATABASE_HOST', '{{ db.host }}');
defined('CANIS_APP_DATABASE_PORT')		|| define('CANIS_APP_DATABASE_PORT', '{{ db.port }}');
defined('CANIS_APP_DATABASE_USERNAME')	|| define('CANIS_APP_DATABASE_USERNAME', '{{ db.username }}');
defined('CANIS_APP_DATABASE_PASSWORD')	|| define('CANIS_APP_DATABASE_PASSWORD', '{{ db.password }}');
defined('CANIS_APP_DATABASE_DBNAME')	|| define('CANIS_APP_DATABASE_DBNAME', '{{ db.dbname }}');

defined('CANIS_APP_REDIS_HOST')			|| define('CANIS_APP_REDIS_HOST', '{{ redis.host }}');
defined('CANIS_APP_REDIS_PORT')			|| define('CANIS_APP_REDIS_PORT', 6379);
defined('CANIS_APP_REDIS_DATABASE')		|| define('CANIS_APP_REDIS_DATABASE', 0);

defined('CANIS_APP_S3_ACCESS_KEY')		|| define('CANIS_APP_S3_ACCESS_KEY', '{{ s3.accessKey }}');
defined('CANIS_APP_S3_SECRET_KEY')		|| define('CANIS_APP_S3_SECRET_KEY', '{{ s3.secretKey }}');
defined('CANIS_APP_S3_BUCKET')			|| define('CANIS_APP_S3_BUCKET', '{{ s3.bucket }}');
defined('CANIS_APP_S3_REGION')			|| define('CANIS_APP_S3_REGION', '{{ s3.region }}');
defined('CANIS_APP_S3_ENCRYPT')			|| define('CANIS_APP_S3_ENCRYPT', {{ s3.encrypt }});
defined('CANIS_APP_S3_RRS')				|| define('CANIS_APP_S3_RRS', {{ s3.rrs }});
defined('CANIS_APP_S3_SERVE_LOCALLY')	|| define('CANIS_APP_S3_SERVE_LOCALLY', {{ s3.serveLocally }});